#Compilati

#Teoria
#071025
calc_iva
dec
convert

#081025
conf_fraz
pers_magg
ris_equaz

#121025
anno_bis
somma_quad_n
somma_quad_perf

#181025
cicli_annidati
coppie_primi_gem
distanza_1970
num_primi_crescenti
num_primi_lnx
primi_somma_13
primi_cifra_7
sequenza_collatz

#251025
carte_poker
convert_num_parola
convert_num_parola_greco
conta_maiuscole
conta_parole
farfallino
pos_prima_slesh
scambio_c_g
sos_voc_u

#30925
hello

#Laboratorio
#091025
scambio
guessme
random
centigradi_fahrenheit
conversione_giorni

#181025
2-if-a-due-vie
frazioni
intorno
3-if-a-piu-vie
indovina_10
punto_retta
tariffe
4-condizioni-in-sequenza
fasi_giornata
5-azioni-indipendenti
numeri
guasti
6-if-annidati
tasse

#251025
1exp-for-ternario
08_quadrati
1prm-a-for-ternario
1prm-b-for-ternario
06_stampaMultipli
07_tabellina
02_doppi
03_casuali
04_casuali_pari 
05_somma
09_targetSum
3-for-zerario
10_orarioValido
1a-for-ternario
1b-for-ternario
1c-for-ternario
1d-for-ternario
2a-for-unario
2b-for-unario
random


